/*
* @description: 其他
* @author: 段亮
* @update: 段亮(2015-03-24 10:21)
*/
/*reset 重置*/
body,ul,ol,p,h1,h2,h3,h4,h5,dl,dd,form,input,textarea,td,th,button,strong{margin:0;padding:0;}
li{list-style:none;vertical-align:top;}
table{ border-collapse:collapse;}
textarea{resize:none;overflow:auto;}
img{ border:none; vertical-align:middle;}
em{ font-style:normal;}
a{ text-decoration:none;}
/*public*/
body{font-size:14px;font-family:"Microsoft YaHei",Arial; overflow-x:hidden; overflow-y:auto;}
.clear{zoom:1;}
.clear:after{content:''; display:block; clear:both;}
.fl{float:left;}
.fr{float:right;}
.viewport{ max-width:640px; min-width:300px; margin:0 auto;}
/*end public*/
/*个人资料*/
.header{ height:48px; line-height:48px; background:#a2a2a2;}
.header .touxiang{margin:0px 3% 0px 2%;}
.header .text{width:30%; position:relative;}
.header .text a{color:#fff; font-size:16px; font-weight:500;}
.header .text .header-box{ width:74px; height: 70px; background:url("../images/name-bg.png") no-repeat;
    position:absolute; top:70%; left:2%; display:none;z-index:3;}
.text .header-box p{width:100%; height:25px; padding-top:5px;line-height:25px;text-align:center;}
.text .header-box>p>a{ color:#fff; font-size:14px;}
.header .text img{margin-left:2%;}
.header .bianji{margin-right:2%;}
/*end header*/
.viewport .content{ width:100%; background:#f4f8fb;  padding-bottom:1%;}
.content .section-text{ width:70%; height:70px; line-height:70px;}
.content .section-text span{margin:0px 8% 0px 5%;}
.content .section-btn{ width:30%;height:70px; line-height:70px; }
.content .section-btn button{ width:80%; height:30px;border:1px solid #706B6B; border-radius:5px; background:#fff;}
/*end 个人资料*/
/*产品详情*/
.pro-header{ height:40px; background:#4a76bb; position:relative;}
.pro-header img{ border:3px solid #fff; border-radius:5px; position:absolute; top:8%; left:4%;}
.pro-header .pro-username{ position:absolute; top:25%; left:30%; color:#fff;}
/*content*/
.content .content-header{ width:70%; height:80px; line-height:30px; font-size:16px; margin-left:30%;
    overflow:hidden;color:#606060;}
.content .content-nav{ width:100%; height:203px; background:url("../images/heiban.png") no-repeat center; position:relative;}
.content .content-nav .content-nav-text{ width:295px; height:140px; overflow:hidden; position:absolute; top:20%; left:10%;
    color:#b9bcc4;}
.content .item-list{ width:94%; background:#fff; margin:2% 3%; border:1px solid #eaeef1;
    border-radius:5px;}
.content .item-list img{display:block; margin:2% auto;}
.content .item-list p{ width:93%; height:35px; margin:0 3%; text-align:center; overflow:hidden;
    font-size:18px; margin-bottom:3%;}
/*底部*/
#footer{width:100%;position:fixed; bottom:0;}
#footer p{width:100%;}
.viewport #footer>p>a{ display:inline-block; width:49.5%; height:45px; margin-bottom:1%; line-height:45px;text-align:center;
    background:rgba(79, 79, 79, 0.4);color:#eae9e8;}
/*end 个人资料*/
/*微信弹出页面*/
/*header*/
.weixin-th{ height:40px; background:#E0E0E0;}
.weixin-th h1{ height:30px; line-height:30px; text-align:right; margin-right:3%;}
.weixin-th h1 strong{ font-size:16px; font-weight:500; margin-right:2%;}
.weixin-th h1 button{ width:80px; height:25px; border:1px solid #ccc; border-radius:5px; font-size:14px;
    color:#333; background:#fff;}
/*contet*/
.weixin-content{ width:100%;}
.weixin-content .weixin-info{ height:80px; padding:6% 5%; color:#333; font-size:18px;}
.weixin-content .weixin-name{font-size:14px; margin:2% 0 2% 10%; color:#333;}
.weixin-content .weixin-name input{ width:60%; height:30px;}
.weixin-content .name-text{ margin:5% 0 3% 10%;}
.weixin-content .name-text span{color:#f00; }
.weixin-content .weixin-btn button{ margin:10% 5%; width:89%; height:50px; border-radius:5px;border:1px solid #797979;
    background:#fff;}
/*个人中心*/
.content .nav-head{ width:100%; height:40px; line-height:40px; overflow:hidden; background:#f2f2f2;border-bottom:1px solid #cdcdcd;}
.content .nav-head li{ width:33.32%;text-align:center; float:left;}
.content .nav-head li a{color:#565656; font-size:16px;}
.content .nav-head li span{color:#ababab; font-size:14px;padding-left:10px;}
.content .nav-head li .text-red{ color:red;}
.content .nav-head .active{height:38px;border-bottom:2px solid #ff8951;}
.content .nav-head .active a{color:#ff8951;}
.content .content-img{padding:5px;}
.content .m-head{ width:60%; padding:5px 2%; overflow:hidden;}
.content .content-text{ position:relative;}
.content .content-text .content-side{ position:absolute; bottom:1%; right:2%; width:15%; height:30px; background:rgba(128,128,128,0.5);
    text-align:center; line-height:30px;}
.content-text .content-side a {color:#fff;}
.m-head .content-text-head .name{font-size:16px; color:#333; font-weight:bold;}
.m-head .content-text-head .time{color:#0066ff;}
.m-head p{color:#333;padding:1% 0 4% 0;}
.m-head .info{ color:#c9c9c9;}
.content .content-footer{height:25px; line-height:25px; text-align:center; border:1px solid #d8d8d8;
    border-left:0; border-right:0;}
/*草稿箱*/
.content .bai{color:#fff;}
.content h3{ font-size:14px; width:100%; height:30px; line-height:30px; text-align:center; background:#666;
    font-weight:500;}
.content h3 a{ width:100%; display:block; color:#fff;}
.content .no-fabu{ margin-top:2%;}
/*断货通知*/
.content .tongzhi-text{ width:90%; padding:0 5%; background:#efeff4; font-size:14px;}
.content .history-tz{ margin:1% 0 3% 0;}
.content .content-footer a{display:inline-block;height:25px;color:#949494;}
.content .content-footer .delete{ width:20%; color:#c51b03;}
.content .content-footer .b-right{width:59%; border-right:1px solid #d8d8d8; border-left:1px solid #d8d8d8;}
.content .content-footer .copy{ width:20%;}
.content .content-footer .time{ width:49%;}
.content .content-footer .fuzhi{ width:50%; border-left:1px solid #d8d8d8;}
.content .xianshi{ width:100%; height:50px; line-height:50px;background:#949494; font-size:18px; margin-top:2%; text-align:center;}
.content .xianshi a{color:#fff;}
/* end个人中心*/
/*编辑页面*/
.content .bianji{ width:100%;}
.content .bianji h1{ font-size:18px; width:45%; margin:0 auto; border-bottom:1px solid #e1e1e1; color:#333;
    text-align:center; padding-top:4%; padding-bottom:1%;}
.content .bianji p{ margin-left:8%;}
.content .bianji .bianji-text{ width:80%; color:#8c8cb2; font-size:16px; margin:10% 0 1% 8%;}
.content .bianji .bianji-input input{ border:1px solid #abadb3; width:60%; height:35px; margin-bottom:4%;}
.content .upload {margin:2% 3%; width:94%; border:1px solid #e0e7ec; border-radius:5px; background:#fff;}
.content .upload .upload-text{width:60%; padding:3% 8%; margin:3% auto;border:1px solid #757575; border-radius:5px;
    background:#fff;}
.content .upload .upload-text img{ display:block; margin:0 auto;}
#Up-data{ width:100%;}
#Up-data .updata button{ margin:1% 10%; width:80%; height:42px; border:1px solid #cbcbcb; color:#80d2e6; border-radius:5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#e9ebe9), to(#f9fcf8));
    background: -webkit-linear-gradient(top, #e9ebe9, #f9fcf8);
    background: -moz-linear-gradient(top, #e9ebe9, #f9fcf8);
    background: -ms-linear-gradient(top, #e9ebe9, #f9fcf8);
    background: -o-linear-gradient(top, #e9ebe9, #f9fcf8);
    background: linear-gradient(top, #e9ebe9, #f9fcf8);
}
#Up-data .caogao button{ background:#009933; margin:3% 10%; width:80%; height:42px; color:#fff; border:1px solid #d2ced1;
    border-radius:5px;}
/*end 编辑页面*/
